body {
  background-color: Gainsboro;
}

.pg1sh1 {
  background-color: #c0ffb6;
  width: 125px;
  height: 125px;
  float: left;
  opacity: 75%;
  margin: -15px;
  border: 5px dashed white;
  border-radius: 25%;
}
.pg1sh2 {
  background-color: #ffd6d6;
  width: 125px;
  height: 125px;
  float: left;
  opacity: 75%;
  margin: -15px;
  border: 5px dashed white;
  border-radius: 50%;
}
.pg1sh3 {
  background-color: #faffb0;
  width: 125px;
  height: 125px;
  float: left;
  opacity: 75%;
  margin: -15px;
  border: 5px dashed white;
  transform: rotate(45deg);
  border-radius: 10%;
}



.pg2sh1 {
  background-color: #ffd6d6;
  width:150px;
  height:150px;
  border: 5px dashed white;
  margin: -30px;
  opacity: 50%;
  float:left;
}
.pg2sh2 {
  background-color: #e1bfff;
  width:150px;
  height:150px;
  border: 5px dashed white;
  margin: -30px;
  opacity: 50%;
  float:left;
}
.pg2sh3 {
  background-color: #b2eaff;
  width:150px;
  height:150px;
  border: 5px dashed white;
  margin: -30px;
  opacity: 50%;
  float:left;
}



.pg3sh1 {
  background-color: #b2eaff;
  width: 100px;
  height: 40px;
  float: left;
  opacity: 50%;
  margin-top: 22px;
  margin-left: -60px;
  margin-right: -25px;
  border: 5px dotted white;
}
.pg3sh2 {
  background-color: #ffd6d6;
  width: 100px;
  height: 40px;
  float: left;
  opacity: 60%;
  margin-top: 22px;
  margin-left: -25px;
  margin-right: -65px;
  border: 5px dotted white;
}



.pg4sh1 {
  display: block;
  width: 101px;
  height: 144px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: #b2eaff;
  float: left;
  opacity: 60%;
  margin: -20px;
  border: 7px dotted white;
}
.pg4sh2 {
  display: block;
  width: 101px;
  height: 144px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: #faffb0;
  float: left;
  opacity: 60%;
  margin: -20px;
  border: 7px dotted white;
  transform: rotate(180deg);
}
.pg4sh3 {
  display: block;
  width: 101px;
  height: 144px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color:	#c0ffb6;
  float: left;
  opacity: 60%;
  margin: -20px;
  border: 7px dotted white;
}



.pac {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  float: left;

}
.dot {
  background-color: #f2d648;
  width: 20px;
  height: 20px;
  float: left;
  opacity: 100%;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
}
.orb {
  background-color: #faffb0;
  width: 30px;
  height: 30px;
  float: left;
  opacity: 100%;
  border-radius: 50%;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 25px;
}
.line {
  height: 1px;
  background-color: transparent;
  border: 5px double navy;
  width: 100%;
  float: left;
  margin-top: 20px;
}
.ghost {
  float:left;
  width: 100px;
  background: cyan;
  height: 110px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: 25px;
  margin-top: 10px;
}
.ghost2 {
  float:left;
  width: 100px;
  background: lightpink;
  height: 110px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: 25px;
  margin-top: 10px;
}
.ghost3 {
  float:left;
  width: 100px;
  background: red;
  height: 110px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: 25px;
  margin-top: 10px;
}
.ghost4 {
  float:left;
  width: 100px;
  background: coral;
  height: 110px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: 25px;
  margin-top: 10px;
}
.heart {
     float: left;
     position: relative;
     width: 100px;
     height: 90px;
     opacity: 90%;
     margin: 10px;
   }
   .heart:before,
   .heart:after {
     position: absolute;
     content: "";
     left: 50px;
     top: 0;
     width: 50px;
     height: 80px;
     background: lavender;
     border-radius: 50px 50px 0 0;
     transform: rotate(-45deg);
     transform-origin: 0 100%;
   }
   .heart:after {
     left: 0;
     transform: rotate(45deg);
     transform-origin: 100% 100%;
   }
