  body {
    background-color: #b2eaff;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 50px;
  }

  h1 {
    color: white;
    text-align:center;
  }

  h2 {
    color: white;
    text-align:center;
  }

  a {
    color:
    font-style: italic
  }

  a:hover {
    color:
    font-style: italic
  }
  p {
    color: white;
  }
}
